/* homeIdeaDetail.css */
@charset "utf-8";

/* design.css */
 
  /* #ideaDetailBox */
  #ideaDetailBox{width:100%; height:auto; margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #ideaDetailBox>.list_wrap{width:960px; height:auto; margin:0 auto; margin-top:60px; margin-bottom:30px;} 
  #ideaDetailBox>.list_wrap>.ideadetail_title{width:750px; height:30px; margin-top:50px; margin-bottom: 20px;}
  #ideaDetailBox>.list_wrap>ul{width:960px; height:auto; position:relative;}
  #ideaDetailBox>.list_wrap>ul>li{width:100%; height:auto; margin:2px; float:left; margin-bottom:30px;}
  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_img_1{width:940px; height:450px; float:left; background-image:url(../../ikea_design/image/homeIdea/detail_img/bannerimage.jpg); background-repeat: no-repeat; background-size: cover; background-position:center; margin-top:30px;}
  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_img_2{width:480px; height:600px; float:left; background-image:url(../../ikea_design/image/homeIdea/detail_img/img_01.jpg); background-repeat: no-repeat; background-size: cover; background-position:center;}
  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_img_3{width:430px; height:540px; float:right; background-image:url(../../ikea_design/image/homeIdea/detail_img/img_02.jpg); background-repeat: no-repeat; background-size: cover; background-position:center; position:absolute; right:0; top:660px;}
  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_img_4{width:460px; height:540px; float:right; background-image:url(../../ikea_design/image/homeIdea/detail_img/img_03_1.jpg); background-repeat: no-repeat; background-size: cover; background-position:center;}
  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_img_5{width:460px; height:540px; float:left; background-image:url(../../ikea_design/image/homeIdea/detail_img/img_03_2.gif); background-repeat: no-repeat; background-size: cover; background-position:center;}
  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_img_6{width:460px; height:540px; float:right; background-image:url(../../ikea_design/image/homeIdea/detail_img/img_04_1.jpg); background-repeat: no-repeat; background-size: cover; background-position:center;}
  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_img_7{width:460px; height:540px; float:left; background-image:url(../../ikea_design/image/homeIdea/detail_img/img_04_2.jpg); background-repeat: no-repeat; background-size: cover; background-position:center;}

  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_aticle_2{width:460px; height:auto; float:right; padding:0.5rem; box-sizing: border-box;}
  .ideadetail_aticle_2>span{display:block; font-weight: bold;}
  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_aticle_3{width:510px; height:auto; float:right; margin-right:280px; padding:0.5rem; box-sizing: border-box;}
  .ideadetail_aticle_3>span{display:block; font-weight: bold;}
  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_price_3{width:140px; height:auto; position: absolute; right:0; top:1210px; z-index: 100;}
  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_aticle_4{width:100%; height:auto; float:left; padding:0.5rem; box-sizing: border-box;}
  .ideadetail_aticle_4>span{display:block; font-weight: bold;}
  #ideaDetailBox>.list_wrap>ul>li>.ideadetail_aticle_6{width:100%; height:auto; float:left; padding:0.5rem; box-sizing: border-box;}
  .ideadetail_aticle_6>span{display:block; font-weight: bold;}
  
