/* cart.css */
@charset "utf-8";

/* design.css */
  #wrap{width:100%; height:auto; background-color:#adadad;margin:0 auto;}

/* #headBox */
  #headBox{width:100%; height:auto; background-color:#adf;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  h1{width:150px; height:70px; background-color:#ffa; float:left; margin-bottom: 10px;}

  #ulb{width:800px;height:50px; float:right; }
  #ulb>ul{width:100%; height:100%;}
  #ulb>ul>li{width:100px; height:100%; background-color:#ada;float:left;margin-right:5px; border-right: 3px solid #666; text-align: center; line-height: 50px; font-size: 10pt;color:#333;}

  #gnb{width:100%; height:100%; float:left; padding:0.5 rem; }
  
  /* menuBox Test */
  #menuBox{width:900px;height:auto; margin:0 auto;}
  #menuBox:after{content:" "; display: block;clear: both;}
  #menuBox>li{width:120px; height: 50px; float: left; margin-left: 0.5rem; background-color: #aad}
  #menuBox>li>dl{width: 100%; height: 100%; position: relative; z-index:500;}
  #menuBox>li>dl>dt{width: 100%; height: 100%;  text-align: center; font-size: 12pt; line-height: 50px; }
  #menuBox>li>dl>dd{float:left; }
  #menuBox>li>dl>dd>ul{width:100%; height:auto; background-color: #fff; display:none;}
  #menuBox>li>dl>dd>ul>li{width:120px; height:auto; text-align: center;}

  /* #cartBox */
  #cartBox{width:100%; height:auto; background-color:#dda; margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #cartAll{width:960px; height:auto; margin:50px auto;}
  #titleBox{width:960px; height:auto; margin:0 auto;padding:0.5rem; box-sizing:border-box; margin-top:30px;}
  #cartTitle{width:200px; height:auto; float:left; }
  #titleBox>.cart_order{width: 380px;height: auto; float:right;}
  #titleBox>.cart_order>li{width:120px; height:auto;margin-right:5px; float:left; text-align: center;}
  #titleBox>.title_line{width:930px; height:auto; border-bottom: 3px solid #333; margin-bottom: 2rem; margin-top:40px;}

    /* .cart_rule */
  #cartList{width:900px; height: auto;margin:0 auto;}
  .cart_rule{width: 900px; height: auto; padding:1rem; box-sizing: border-box; border-top:3px solid #333; border-bottom: 3px solid #333;margin:0 auto;}

  .cart_rule>.cart_title{width:100%;height:auto;border-top:3px solid #333; border-bottom: 3px solid #333; margin:0 auto;}
  .cart_title>ul{width:900px;border-bottom: 3px solid #333;margin:0 auto; padding:1rem; box-sizing: border-box;}
  .check_box{width:20px; height:20px;border:1px solid #333;float:left;}
  .item_box{float:left; margin:0 250px;}
  .item_price{float:left;margin-right:34px;}
  .item_count{float:left;margin-right:34px;}
  .delivery{float:left;margin-right:34px;}
  .sum_price{float:right;}

  .cart_lists>.cart_conts{width:100%; height:auto; margin:0 auto;}
  .cart_conts>ul{width:900px;border-bottom: 3px solid #333;margin:0 auto; padding:1rem; box-sizing: border-box;}
  .order_item_listbox{width:430px; height:auto;float:left; margin:0 50px;}
  .order_item_listbox>.order_item_image{width:100px; height:100px; background-color:#add; margin-right:10px; float:left;}
  .order_item_listbox>.order_itemp{width:300px; float:left; height:auto; padding-top:30px; box-sizing: border-box;}
    .order_itemp>.order_item_name{width:100%; height:auto; margin-bottom: 10px;}
    .order_itemp>.order_item_option{width:100%; height:auto;}
  .order_listul>.order_itemprice{width:70px; height:30px; float:left;margin-right:30px;padding-top:30px; }
  .order_listul>.order_itemcounter{width:40px; height:30px;float:left;margin-right:20px; float:left;padding-top:30px; box-sizing: border-box;}
    .order_itemcounter>.counts{width:30px; height:30px; float:left; background-color:#fff; text-align: center; line-height: 30px;}
    .order_itemcounter>.updw_arrow{width:10px; height:auto; float:left;}
      .updw_arrow>.count_up{width:10px; height:10px; margin-bottom: 10px;}
      .updw_arrow>.count_dw{width:10px; height:10px;}
  .order_listul>.order_delivery{width:80px; height:30px;float:left; padding-top:30px; }
  .order_listul>.order_sumprice{width:70px; height:30px;float:right;padding-top:30px; }

  .cart_btn{float:right; margin:50px 0;}
  .continu_shop{width:100px; height:50px; background-color:#a93; margin-left:10px;}
  .no_member{width:100px; height:50px; background-color:#666;margin-left:10px;}
  .member{width:100px; height:50px; background-color:#adf;margin-left:10px;}

  /* #footBox */
  #footBox{width:100%; height:auto; background-color:#666;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #footBox>.foot_content{width:100%; height:auto;}
  #footBox>.foot_content>.foot_logo{width:150px; height:70px; background-color:#ffa; float:left; margin-right:50px;}
  #footBox>.foot_content>.foot_info{width:80%; height:auto; float:left; margin-top:20px;}