/* faq.css */
@charset "utf-8";

/* design.css */
  #wrap{width:100%; height:auto; background-color:#adadad;margin:0 auto;}

/* #headBox */
  #headBox{width:100%; height:auto; background-color:#adf;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  h1{width:150px; height:70px; background-color:#ffa; float:left; margin-bottom: 10px;}

  #ulb{width:800px;height:50px; float:right; }
  #ulb>ul{width:100%; height:100%;}
  #ulb>ul>li{width:100px; height:100%; background-color:#ada;float:left;margin-right:5px; border-right: 3px solid #666; text-align: center; line-height: 50px; font-size: 10pt;color:#333;}

  #gnb{width:100%; height:100%; float:left; padding:0.5 rem; }
  
  /* menuBox Test */
  #menuBox{width:900px;height:auto; margin:0 auto;}
  #menuBox:after{content:" "; display: block;clear: both;}
  #menuBox>li{width:120px; height: 50px; float: left; margin-left: 0.5rem; background-color: #aad}
  #menuBox>li>dl{width: 100%; height: 100%; position: relative; z-index:500;}
  #menuBox>li>dl>dt{width: 100%; height: 100%;  text-align: center; font-size: 12pt; line-height: 50px; }
  #menuBox>li>dl>dd{float:left; }
  #menuBox>li>dl>dd>ul{width:100%; height:auto; background-color: #fff; display:none;}
  #menuBox>li>dl>dd>ul>li{width:120px; height:auto; text-align: center;}

  /* #faqBox */
  #faqBox{width:100%; height:auto; background-color:#dda; margin:0 auto; padding:0.5rem; box-sizing:border-box; }
  .title_box{width:900px; height:auto; margin:50px auto;}
  .faq_title{width:100px; height:30px; float:left;}
  .search_box{width:330px; height:30px;float:left;}
  .search_box>.search_bar{width:300px; height:30px; background-color:#fff; float:left;}
  .search_box>.search_icon{width:30px; height:30px; background-color:#666; float:left; z-index: 100;}
  .view{width:900px; height:auto; margin:0 auto; padding:0.5rem; box-sizing: border-box;}
  .view dl{width:100%; padding:0.5rem; border:2px solid #333; padding:2px; background-color:#333;}
  .view dt{width:867px;background-color:#ade;padding:0.5rem;}
  .view dd{width:867px;background-color:#eda;padding:0.5rem;}
  .view dt, dd{display:none;}
  .view dt.active, dd.active{display:block;}
  .more{width:100px; height:30px; margin:0 auto; margin-top:20px;}
  .more>button{width:100px; height:30px;margin:0 auto;}

  /* #askBox */
  #askBox{width:100%; height:auto; background-color:#dda; margin:0 auto; padding:0.5rem; box-sizing:border-box; }
  .title_box{width:900px; height:auto; margin:50px auto;}
  .ask_title{width:100px; height:30px; float:left;}
  .ask_style{width:900px; height:auto; margin:0 auto;}
  .askabout_style{width:770px; height:100px; margin:0 auto;}
  .askabout_style>li{width:250px; height:100px; float:left;margin-right:10px; background-color:#add; text-align: center; line-height: 100px;}
  .sending_ask{width:900px; height:auto; margin:0 auto;}
  .sending_askul{width:770px; height:410px; margin:0 auto; background-color:#ade; padding:20px; box-sizing: border-box;}
  .sending_askul>li{width:700px; height:30px; background-color:#fff; line-height: 30px; margin:0 auto;margin-top:10px;}
  .sending_askul>.ask_cons{width:700px; height:150px;}
  .sending_askul .title{width:670px; height:30px;float:left;}
  .sending_askul .add{width:30px; height:30px; background-color:#666; float:left;text-align: center; line-height: 30px}

  .send_btn{width:770px; height:30px; margin:20px auto;}
  .send_btn>button{width:80px; height:30px; background-color:#8da; float:right; }

  /* #footBox */
  #footBox{width:100%; height:auto; background-color:#666;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #footBox>.foot_content{width:100%; height:auto;}
  #footBox>.foot_content>.foot_logo{width:150px; height:70px; background-color:#ffa; float:left; margin-right:50px;}
  #footBox>.foot_content>.foot_info{width:80%; height:auto; float:left; margin-top:20px;}