/* guide.css */
@charset "utf-8";

/* design.css */
  #wrap{width:100%; height:auto; background-color:#adadad;margin:0 auto;}

/* #headBox */
  #headBox{width:100%; height:auto; background-color:#adf;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  h1{width:150px; height:70px; background-color:#ffa; float:left; margin-bottom: 10px;}

  #ulb{width:800px;height:50px; float:right; }
  #ulb>ul{width:100%; height:100%;}
  #ulb>ul>li{width:100px; height:100%; background-color:#ada;float:left;margin-right:5px; border-right: 3px solid #666; text-align: center; line-height: 50px; font-size: 10pt;color:#333;}

  #gnb{width:100%; height:100%; float:left; padding:0.5 rem; }
  
  /* menuBox Test */
  #menuBox{width:900px;height:auto; margin:0 auto;}
  #menuBox:after{content:" "; display: block;clear: both;}
  #menuBox>li{width:120px; height: 50px; float: left; margin-left: 0.5rem; background-color: #aad}
  #menuBox>li>dl{width: 100%; height: 100%; position: relative; z-index:500;}
  #menuBox>li>dl>dt{width: 100%; height: 100%;  text-align: center; font-size: 12pt; line-height: 50px; }
  #menuBox>li>dl>dd{float:left; }
  #menuBox>li>dl>dd>ul{width:100%; height:auto; display:none;}
  #menuBox>li>dl>dd>ul>li{width:120px; height:auto; text-align: center;}

  /* #guideBox */
  #guideBox{width:100%; height:auto; background-color:#dda; margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #guideBox>.list_wrap{width:960px; height:auto; margin:0 auto; margin-top:20px;margin-bottom:50px;} 
  #guideBox>.list_wrap>.guide_title{width:750px; height:30px; margin-top:50px; margin-bottom: 20px;}

  
  #guideBox>.list_wrap>.guide_ulwrap{width:700px; height:auto; margin:0 auto; position: relative;}

  .arrow_btn{width:100%; height:0; background-color:#fff; position:absolute; top:50%; margin-top:-25px; }
  .arrow_btn>.left_arrow{width:50px;height:50px; background-color:#666; float:left;}
  .arrow_btn>.right_arrow{width:50px;height:50px; background-color:#666; float:right;}

  #guideBox>.list_wrap>.guide_ulwrap>.guide_list{width:400%; height:auto; margin-left:100px;}
  #guideBox>.list_wrap>.guide_ulwrap>.guide_list>li{width:25%; height:auto; float:left; display:none;}
  #guideBox>.list_wrap>.guide_ulwrap>.guide_list>.showli{display:block;}
  #guideBox>.list_wrap>.guide_ulwrap>.guide_list>li>dl{width:100%; height:auto; float:left;}
  #guideBox>.list_wrap>.guide_ulwrap>.guide_list>li>dl>dt{width:500px; height:350px; margin-bottom: 10px; background-color:#ad2;}
  #guideBox>.list_wrap>.guide_ulwrap>.guide_list>li>dl>dd{width:500px; height:auto; background-color:#fff;}

  
  /* #mapFaqBox */
  #mapFaqBox{width:100%; height:auto; min-height:300px;background-color:#fda;margin:0 auto;padding:0.5rem; box-sizing:border-box;}
  #mapFaqBoxDIV{width:960px; height:auto; margin:0 auto;}

  #mapBox{width:960px; height:auto; float:left; margin:50px auto;}
  #mapBox>.map_select_box{width:550px; height:50px;}
  #mapBox>.map_select_box>.mapbox_tittle{width:300px; height:50px;float:left;}
  #mapBox>.map_select_box>.map_selectbox{width: 100px; height: 50px; background-color: #fff; float:right;}
  #mapBox>.map_select_box>.map_selectbox>.selection{width: 100%; height:100%; text-align:center; line-height: 50px;}
  #mapBox>.map_select_box>.map_selectbox>.select_01{width: 100%; height:100%; text-align:center; line-height: 50px; display:none;}
  #mapBox>.map_select_box>.map_selectbox>.select_02{width: 100%; height:100%; text-align:center; line-height: 50px; display:none;}
  
  #mapBox>.map_position{width:100%; height:100%; margin-left:50px; margin-top:10px;}
  #mapBox>.map_position>.map_pic{width:500px; height:500px; background-color:#dea; float:left; margin-right:12px;}

  #mapBox>.map_position>.map_addressbox{width: 300px; height: 500px; background-color: #fff;float:left;}
  #mapBox>.map_position>.map_addressbox>.address_01{width:100%; height:100%; text-align: center;}
  #mapBox>.map_position>.map_addressbox>.address_02{width:100%; height:100%; text-align: center; display:none;}

  /* #footBox */
  #footBox{width:100%; height:auto; background-color:#666;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #footBox>.foot_content{width:100%; height:auto;}
  #footBox>.foot_content>.foot_logo{width:150px; height:70px; background-color:#ffa; float:left; margin-right:50px;}
  #footBox>.foot_content>.foot_info{width:80%; height:auto; float:left; margin-top:20px;}