/* index.css */
@charset "utf-8";

/* design.css */
  #wrap{width:100%; height:auto; background-color:#adadad;margin:0 auto;}
  a{width:100%; height:100%; display:block;}
/* #headBox */

  #headBox{width:100%; height:auto; background-color:#adf;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  h1{width:150px; height:70px; background-color:#ffa; float:left; margin-bottom: 10px;}

  #ulb{width:800px;height:50px; float:right; }
  #ulb>ul{width:100%; height:100%;}
  #ulb>ul>li{width:100px; height:100%; background-color:#ada;float:left;margin-right:5px; border-right: 3px solid #666; text-align: center; line-height: 50px; font-size: 10pt;color:#333;}

  #gnb{width:100%; height:100%; float:left; padding:0.5rem;}
  /* ------------------------------------------------------------  modify */
  
  /* menuBox Test */
  #menuBox{width:900px;height:auto; margin:0 auto;}
  #menuBox:after{content:" "; display: block;clear: both;}
  #menuBox>li{width:120px; height: 50px; float: left; margin-left: 0.5rem; background-color: #aad}
  #menuBox>li>dl{width: 100%; height: 100%; position: relative; z-index:500;}
  #menuBox>li>dl>dt{width: 100%; height: 100%;  text-align: center; font-size: 12pt; line-height: 50px; }
  #menuBox>li>dl>dd{float:left; }
  #menuBox>li>dl>dd>ul{width:100%; height:auto; background-color: #fff; display:none;}
  /*#menuBox>li>dl>dd>ul:hover{display:block;}*/
  #menuBox>li>dl>dd>ul.show{display:block;}
  #menuBox>li>dl>dd>ul>li{width:120px; height:auto; text-align: center;}
  



  /* ------------------------------------------------------------  modify end*/

/* -------------------------------------------------------------- delete before*/
  /*#menuBox>dt{width:130px; height:50px; float:left; background-color: #aad;text-align: center;line-height: 50px;margin-right:5px;}*/

  /*#menuBox dd{width:130px;height:auto; background-color: #fff;}*/
/*
  #menuBox>dt>dd{width:130px; height:auto; background-color: #fff;}
  #menuBox>dt>dd>ul{width:130px; height:auto; background-color:#adadad;}
  #menuBox>dt>dd>ul>li{width:100%; height:auto; text-align: center;}*/
/* --------------------------------------------------------------- delete */
  /* #bannerBox */
  #bannerBox{width:100%; height:auto; min-height:300px;background-color:#fda;margin: 0 auto;position:relative;}
  #adbannerBox{width:500%; height:450px; background-color:#aaa;}
  #adbannerBox>li{width:20%; height:100%; float:left; text-align: center; line-height:450px; font-size:3rem;}
  #adbannerBox>.inbanner_01{background-color:#daf;}
  #adbannerBox>.inbanner_02{background-color:#fda;}
  #adbannerBox>.inbanner_03{background-color:#afd;}
  #adbannerBox>.inbanner_04{background-color:#fad;}
  #adbannerBox>.inbanner_05{background-color:#dfa;}

 #indicatorBox{width:270px; height:30px; margin:0 auto; position:absolute; left:50%; margin-left:-135px; top:50%; margin-top:170px; }
 #indicatorBox>li{width:30px; height:30px; margin-right:30px;background-color:#555; float:left;border-radius: 50%;}

  /* #newarriveBox */
  #newarriveBox{width:100%; height:auto; min-height:300px; background-color:#adf; margin:0 auto; padding:0.5rem; box-sizing:border-box; }
  #newLittleTittle{width:400px; height:50px; margin:0 auto; text-align: center; line-height: 50px; margin-top:50px;}
  #newLittleTittle>.line_design_left{width:40px; height:25px; border-bottom:5px solid #333; float:left; margin-top: -3px;}
  .new_arrivals_tittle{width:250px; height:50px; float:left;}
  #newLittleTittle>.line_design_right{width:40px; height:25px; border-bottom:5px solid #333; float:left; margin-top: -3px;}

 #newarrowBtn{width:100%; height:0; background-color:#fff; position:absolute; top:50%; margin-top:-25px; }
  #newarrowBtn>.newleft_arrow{width:50px;height:50px; background-color:#666; float:left; margin-left:250px;}
  #newarrowBtn>.newright_arrow{width:50px;height:50px; background-color:#666; float:right;margin-right:250px;}

  #newList{width:100%; height:auto; position:relative;}

  #arrowBtn{width:100%; height:0; background-color:#fff; position:absolute; top:50%; margin-top:-25px; }
  #arrowBtn>.left_arrow{width:50px;height:50px; background-color:#666; float:left;}
  #arrowBtn>.right_arrow{width:50px;height:50px; background-color:#666; float:right;}


  #newListFront{width:870px;height:auto; margin:0 auto;}
  #newListFront>dl{width:180px; height: auto; float:left; margin:50px 50px 80px 0;}
  #newListFront>dl>dt{width:180px; height:180px; background-color:#add;}
  #newListFront>dl>dd{width:180px; height:80px; background-color:#fff; float:left; margin-top:20px;}

  #newListBack{width:870px;height:auto; margin:0 auto;}
  #newListBack>li{width:180px; height:180px; background-color:#add; margin-right:50px;float:left; margin-top:50px; display:none;}
  #newListBack>li>div{width:180px; height:80px; background-color:#fff; margin-top:200px; display: none;}



  /* #bestitemBox */
  #bestitemBox{width:100%; height:auto; min-height:300px;background-color:#fda;margin:0 auto;padding:0.5rem; box-sizing:border-box;}
  #bestLittleTittle{width:400px; height:50px; margin:0 auto; text-align: center; line-height: 50px; margin-top:50px;}
  #bestLittleTittle>.line_design_left{width:40px; height:25px; border-bottom:5px solid #333; float:left; margin-top: -3px;}
  .best_arrivals_tittle{width:250px; height:50px; float:left;}
  #bestLittleTittle>.line_design_right{width:40px; height:25px; border-bottom:5px solid #333; float:left; margin-top: -3px;}

 #bestarrowBtn{width:100%; height:0; background-color:#fff; position:absolute; top:50%; margin-top:-25px; }
  #bestarrowBtn>.bestleft_arrow{width:50px;height:50px; background-color:#666; float:left; margin-left:250px;}
  #bestarrowBtn>.bestright_arrow{width:50px;height:50px; background-color:#666; float:right;margin-right:250px;}

  #bestList{width:100%; height:auto; position:relative;}

  #arrowBtn{width:100%; height:0; background-color:#fff; position:absolute; top:50%; margin-top:-25px; }
  #arrowBtn>.left_arrow{width:50px;height:50px; background-color:#666; float:left;}
  #arrowBtn>.right_arrow{width:50px;height:50px; background-color:#666; float:right;}


  #bestListFront{width:870px;height:auto; margin:0 auto;}
  #bestListFront>dl{width:180px; height: auto; float:left; margin:50px 50px 80px 0;}
  #bestListFront>dl>dt{width:180px; height:180px; background-color:#add;}
  #bestListFront>dl>dd{width:180px; height:80px; background-color:#fff; float:left; margin-top:20px;}

  #bestListBack{width:870px;height:auto; margin:0 auto;}
  #bestListBack>li{width:180px; height:180px; background-color:#add; margin-right:50px;float:left; margin-top:50px; display:none;}
  #bestListBack>li>div{width:180px; height:80px; background-color:#fff; margin-top:200px; display: none;}

  /* #ikeaserviceBox */
  #ikeaserviceBox{width:100%; height:auto; min-height:300px;background-color:#adf; padding:0.5rem; box-sizing:border-box;}
  #ikeaserviceboxDIV{width:960px; height:auto; margin:0 auto;}

  #housePlanner{width:460px; height:auto; float:left; margin:50px 10px; }
  #housePlanner>.housePlanner_tittle{width:400px; height:50px;float:left; margin-bottom: 10px;}
  #housePlanner>.home_planning{width:460px; height:460px;background-color:#daa;float:left;}

  #ikeaSevice{width:460px; height:auto; margin:50px 10px; float:left;}
  #ikeaSevice>.ikeaSevice_tittle{width:400px; height:50px; float:left; margin-bottom: 10px;}
  #ikeaSevice>.ikeasevice_list{width:460px; height:460px;float:left;}
  #ikeaSevice>.ikeasevice_list>.assemble_service{width:224px; height:224px; margin-right:12px; background-color:#eda; float:left; text-align: center; line-height: 224px; font-size:2rem;}
  #ikeaSevice>.ikeasevice_list>.install_service{width:224px; height:224px; background-color:#dae; float:left; text-align: center; line-height: 224px; font-size:2rem;}
  #ikeaSevice>.ikeasevice_list>.delivery_service{width:460px; height:224px; background-color:#add;float:left; margin-top:12px;text-align: center; line-height: 224px; font-size:2rem;}

  /* #mapFaqBox */
  #mapFaqBox{width:100%; height:auto; min-height:300px;background-color:#fda;margin:0 auto;padding:0.5rem; box-sizing:border-box;}
  #mapFaqBoxDIV{width:960px; height:auto; margin:0 auto;}

  #mapBox{width:460px; height:auto; float:left; margin:50px 10px;}
  #mapBox>.map_select_box{width:100%; height:50px;}
  #mapBox>.map_select_box>.mapbox_tittle{width:300px; height:50px;float:left; margin-bottom: 10px;}
  #mapBox>.map_select_box>.map_selectbox{width: 100px; height: 50px; background-color: #fff; float:right;}
  #mapBox>.map_select_box>.map_selectbox>.selection{width: 100%; height:100%; text-align:center; line-height: 50px;}
  #mapBox>.map_select_box>.map_selectbox>.select_01{width: 100%; height:100%; text-align:center; line-height: 50px; display:none;}
  #mapBox>.map_select_box>.map_selectbox>.select_02{width: 100%; height:100%; text-align:center; line-height: 50px; display:none;}

  #mapBox>.map_pic{width:298px; height:298px; background-color:#dea; float:left; margin-right:12px;}

  #mapBox>.map_addressbox{width: 150px; height: 298px; background-color: #fff;float:left;}
  #mapBox>.map_addressbox>.address_01{text-align: center;}
  #mapBox>.map_addressbox>.address_02{text-align: center; display:none; }

  #faqBox{width:460px; height:auto; float:left; margin:50px 10px;}
  #faqBox>.faqbox_tittle{width:400px; height:50px;float:left; margin-bottom: 10px;}
  #faqBox>.faq_list_box{}

  #faqBox>.faq_list_box>.faq_list{width: 460px;height: 298px;background-color: #ddd; float:left;}

  #faqBox>.faq_list_box>.faq_list>.faqlist_01{width: 100%;height: 98px;background-color: #a4d; margin-bottom:2px; padding:0.25rem; box-sizing: border-box;}
  #faqBox>.faq_list_box>.faq_list>.faqlist_01>.faq_question_01{width: 100%;height: 49px; line-height: 44px;}
  #faqBox>.faq_list_box>.faq_list>.faqlist_01>.faq_answer_01{width: 100%;height: 49px; line-height: 44px;}

  #faqBox>.faq_list_box>.faq_list>.faqlist_02{width: 100%;height: 98px;background-color: #d4a;margin-bottom:2px; padding:0.25rem; box-sizing: border-box;}
  #faqBox>.faq_list_box>.faq_list>.faqlist_02>.faq_question_02{width: 100%;height: 49px; line-height: 44px;}
  #faqBox>.faq_list_box>.faq_list>.faqlist_02>.faq_answer_02{width: 100%;height: 49px; line-height: 44px;}

    #faqBox>.faq_list_box>.faq_list>.faqlist_03{width: 100%;height: 98px;background-color: #4ad;margin-bottom:2px; padding:0.25rem; box-sizing: border-box;}
  #faqBox>.faq_list_box>.faq_list>.faqlist_03>.faq_question_03{width: 100%;height: 49px; line-height: 44px;}
  #faqBox>.faq_list_box>.faq_list>.faqlist_03>.faq_answer_03{width: 100%;height: 49px; line-height: 44px;}

  /* #sideBox */ 
  #sideBox{width:200px; height:auto; background-color:#add; position:fixed; right:-100px; bottom: 100px;}
  #sideBox.style{right:0;}
  #sideBox>.side_show{width:100%; height:80px; background-color:#acc;font-size: 5rem; font-weight: bold; line-height: 80px;}
  #sideBox>.side_box{width:100%; height:400px; background-color:#fff; padding:10px; box-sizing: border-box;}
  #sideBox>.side_box>.side_bar{width:80px; height:80px; background-color:#aac; margin-bottom:10px;text-align: center;}
  #sideBox>.top_btn{width:200px; height:80px; background-color: #}
  /* // #sideBox */

  /* #footBox */
  #footBox{width:100%; height:auto; background-color:#666;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #footBox>.foot_content{width:100%; height:auto;}
  #footBox>.foot_content>.foot_logo{width:150px; height:70px; background-color:#ffa; float:left; margin-right:50px;}
  #footBox>.foot_content>.foot_info{width:80%; height:auto; float:left; margin-top:20px;}
