/* order.css */
@charset "utf-8";

/* design.css */
  #wrap{width:100%; height:auto; background-color:#adadad;margin:0 auto;}

/* #headBox */
  #headBox{width:100%; height:auto; background-color:#adf;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  h1{width:150px; height:70px; background-color:#ffa; float:left; margin-bottom: 10px;}

  #ulb{width:800px;height:50px; float:right; }
  #ulb>ul{width:100%; height:100%;}
  #ulb>ul>li{width:100px; height:100%; background-color:#ada;float:left;margin-right:5px; border-right: 3px solid #666; text-align: center; line-height: 50px; font-size: 10pt;color:#333;}

  #gnb{width:100%; height:100%; float:left; padding:0.5 rem; }
  
  /* menuBox Test */
  #menuBox{width:900px;height:auto; margin:0 auto;}
  #menuBox:after{content:" "; display: block;clear: both;}
  #menuBox>li{width:120px; height: 50px; float: left; margin-left: 0.5rem; background-color: #aad}
  #menuBox>li>dl{width: 100%; height: 100%; position: relative; z-index:500;}
  #menuBox>li>dl>dt{width: 100%; height: 100%;  text-align: center; font-size: 12pt; line-height: 50px; }
  #menuBox>li>dl>dd{float:left; }
  #menuBox>li>dl>dd>ul{width:100%; height:auto; background-color: #fff; display:none;}
  #menuBox>li>dl>dd>ul>li{width:120px; height:auto; text-align: center;}

  /* #orderBox */
  #orderBox{width:100%; height:auto; background-color:#dda; margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #orderAll{width:960px; height:auto; margin:50px auto;}
  #titleBox{width:960px; height:auto; margin:0 auto;padding:0.5rem; box-sizing:border-box; margin-top:30px;}
  #orderTitle{width:300px; height:auto; float:left; }
  #titleBox>.title_line{width:930px; height:auto; border-bottom: 3px solid #333; margin-bottom: 2rem; margin-top:40px;}

  #orderList{width:900px; height: auto;margin:0 auto;}
  #orderList>.order_item{width:300px; height:30px;}
  #orderList>.order_lists{width:900px; height:auto; margin:0 auto;}
    .order_lists>.order_title{width:100%; height:auto;}
    .order_lists>.order_title>.order_titleul{width:100%; height:auto; border-top:3px solid #333; border-bottom: 3px solid #333; padding:1rem; box-sizing: border-box;}
      .order_titleul>.item_box{width:70px; height:30px; float:left; line-height: 30px; margin-left:180px; margin-right:200px;}
      .order_titleul>.order_count{width:70px; height:30px; float:left;line-height: 30px;margin-right:100px;}
      .order_titleul>.order_price{width:70px; height:30px; float:left;line-height: 30px;margin-right:100px;}
      .order_titleul>.ikea_service{width:70px; height:30px; float:right;line-height: 30px;}

    .order_lists>.order_conts{width:100%; height:auto;}
      .order_conts>.order_listul{width:900px;border-bottom: 3px solid #333; padding:1rem; box-sizing: border-box;}
        .order_item_listbox{width:430px; height:auto; float:left;}
          .order_item_listbox>.order_item_image{width:100px; height:100px; background-color:#add; margin-right:10px; float:left;}
          .order_item_listbox>.order_itemp{width:300px; float:left; height:auto; padding-top:30px; box-sizing: border-box;}
            .order_itemp>.order_item_name{width:100%; height:auto; margin-bottom: 10px;}
            .order_itemp>.order_item_option{width:100%; height:auto;}
        .order_listul>.order_counts{width:70px; height:30px;float:left; margin-left:30px;}
        .order_listul>.order_allprice{width:70px; height:30px;float:left;margin-left:100px;}
        .order_listul>.order_sevice{width:70px; height:30px;float:right;}

    .total_price{width:150px; height:60px; margin:50px 0; color:#c55;float:right; text-align: center;}

    .order_inputinfo{width:900px; height: auto;margin:0 auto;}
      .delivery_info{width:300px; height:30px;}
      .agreement_box{width:100%; height:auto; margin:0 auto;}
      .agreement_box>.agree_title{width:400px; height:30px;}
      .agreement_box>.agreeornot_box{width:900px; height:200px; background-color:#fff; margin-bottom:20px;}
      .agreement_box>.yesorno_box{width:180px;height:30px;margin:0 auto;}
        .radio_btn{width:20px; height:20px; border-radius: 50%; border:1px solid #333; float: left;}
        .yesorno_box>.yes_box{width:90px; height:30px; float:left;}
          .yes_box>.yes_btn{width:50px; height:30px; text-align: center; line-height: 30px; margin-left:10px;}
        .yesorno_box>.no_box{width:90px; height:30px; float:left;}
          .no_box>.no_btn{width:70px; height:30px; text-align: center; line-height: 30px; margin-left:20px;}
    .order_inputinfo>.sending_people{width:800px; height:auto; margin:0 auto;margin-bottom: 1rem;}
      .sending_people dl>dt{width:80px; height:30px; line-height:30px; float:left; margin-right:10px;}
      .sending_people>.send_name{width: 800px;height:30px;}
        .send_name>dl{width:100%; height:auto;}
        .send_name>dl>dd{width:100px; height:30px; background-color:#fff; float: left;}
      .sending_people>.call_num{width: 800px;height:30px; margin-top:10px;}
        .call_num>dl{width:100%; height:auto;}
        .call_num>dl>dd{width:100px; height:30px; background-color:#fff; float: left; margin-right:10px;}
        .call_num>dl>.vertical_line{width:10px; height:30px; line-height: 30px; background-color:transparent; }
      .sending_people>.email_add{width: 800px;height:30px; margin-top:10px;}
        .email_add>dl{width:100%; height:auto;}
        .email_add>dl>dd{width:100px; height:30px; background-color:#fff; float: left; margin-right:10px;}
        .email_add>dl>.at_mark{width:10px; height:30px; line-height: 30px; background-color:transparent; }
      .ordersame_btn{width:150px; height:30px; float:right;}
    .order_inputinfo>.receive_people{width:800px; height:auto; margin:0 auto;margin-top: 1rem;}
    .receive_people dl>dt{width:80px; height:30px; line-height:30px; float:left; margin-right:10px;}
      .receive_people>.recive_name{width: 800px;height:30px;}
        .recive_name>dl{width:100%; height:auto;}
        .recive_name>dl>dd{width:100px; height:30px; background-color:#fff; float: left;}
      .receive_people>.phone_num{width: 800px;height:30px;margin-top:10px;}
        .phone_num>dl{width:100%; height:auto;}
        .phone_num>dl>dd{width:100px; height:30px; background-color:#fff; float: left; margin-right:10px;}
        .phone_num>dl>.vertical_line{width:10px; height:30px; line-height: 30px; background-color:transparent; }
      .receive_people>.address_put{width: 800px;height:30px;margin-top:10px;}
        .address_put>dl{width:100%; height:auto;}
        .address_put>dl>dd{width:300px; height:30px; background-color:#fff; float: left; margin-right:10px;}
        .address_put>dl>.addsearch_btn{width:60px; height:30px;background-color:transparent;}
          .addsearch_btn>button{width:60px; height:30px;}
      .receive_people>.deliv_message{width: 800px;height:30px;margin-top:10px; margin-bottom: 50px}
        .deliv_message>dl{width:100%; height:auto;}
        .deliv_message>dl>dd{width:300px; height:30px; background-color:#fff; float: left;}

    .payment_box{width:900px; height: auto;margin:0 auto; padding:2rem 0; }
    .payment_box>.payment{width:300px; height:30px;}
    .payment_box>.payway_box{width: 800px;height:30px; margin:0 auto;}
      .payway_box ul{width:100%; height:30px; margin:0 auto;margin-top:10px;}
      .payway_box ul>li{width:200px; height:30px; float: left;}
      .payway_box dl{width:250px; height:30px;margin-top:10px;}
      .payway_box dl>dt{width:100px; height:30px; float:left; line-height: 30px;}
      .payway_box dl>dd{width:100px; height:30px; float:left; background-color:#fff;}
  #pay_btn{width:100px; height:30px; background-color:#add; float:right;margin-top:30px;}
  #pay_btn>button{width:100px; height:30px;background-color:transparent; color:#333;}

  

  /* #footBox */
  #footBox{width:100%; height:auto; background-color:#666;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #footBox>.foot_content{width:100%; height:auto;}
  #footBox>.foot_content>.foot_logo{width:150px; height:70px; background-color:#ffa; float:left; margin-right:50px;}
  #footBox>.foot_content>.foot_info{width:80%; height:auto; float:left; margin-top:20px;}