/* product_list.css */
@charset "utf-8";

/* design.css */
  #wrap{width:100%; height:auto; background-color:#adadad;margin:0 auto;}

/* #headBox */
  #headBox{width:100%; height:auto; background-color:#adf;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  h1{width:150px; height:70px; background-color:#ffa; float:left; margin-bottom: 10px;}

  #ulb{width:800px;height:50px; float:right; }
  #ulb>ul{width:100%; height:100%;}
  #ulb>ul>li{width:100px; height:100%; background-color:#ada;float:left;margin-right:5px; border-right: 3px solid #666; text-align: center; line-height: 50px; font-size: 10pt;color:#333;}

  #gnb{width:100%; height:100%; float:left; padding:0.5 rem; }
  
  /* menuBox Test */
  #menuBox{width:900px;height:auto; margin:0 auto;}
  #menuBox:after{content:" "; display: block;clear: both;}
  #menuBox>li{width:120px; height: 50px; float: left; margin-left: 0.5rem; background-color: #aad}
  #menuBox>li>dl{width: 100%; height: 100%; position: relative; z-index:500;}
  #menuBox>li>dl>dt{width: 100%; height: 100%;  text-align: center; font-size: 12pt; line-height: 50px; }
  #menuBox>li>dl>dd{float:left; }
  #menuBox>li>dl>dd>ul{width:100%; height:auto; display:none;}
  #menuBox>li>dl>dd>ul>li{width:120px; height:auto; text-align: center;}

  /* #productBox */
  #productBox{width:100%; height:auto; background-color:#dda; margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #productBox>.list_wrap{width:960px; height:auto; margin:0 auto; margin-top:20px;margin-bottom:50px;} 
  #productBox>.list_wrap>.product_title{width:300px; height:30px; margin-top:50px; margin-bottom: 20px;}
  #productBox>.list_wrap>ul{width:940px; height:auto;}
  #productBox>.list_wrap>ul>li{width:300px; height:auto; margin:6px; float:left; background-color:#add;}
  #productBox>.list_wrap>ul>li:nth-child(3n+1){margin-left: 0;}
  #productBox>.list_wrap>ul>li:nth-child(3n){margin-right: 0;}
  #productBox>.list_wrap>ul>li>dl{width:300px; height:auto;}
  #productBox>.list_wrap>ul>li>dl>dt{width:100%; height:200px; background-color:#5af;}
  #productBox>.list_wrap>ul>li>dl>dd{width:100%; height:100px; background-color:#555; color:#fff; padding:4px; box-sizing: border-box; padding: 1rem;box-sizing: border-box; }
  #productBox>.list_wrap>ul>li>dl>dd>div{width:200px; height:20px; margin-bottom:5px;}

  /*#new_box{position:relative;}
  #new_box>.arrow_btn{width:100%; height:0; background-color:#fff; position:absolute; bottom:50%; margin-bottom:25px;}
  .arrow_btn>.left_arrow{width:50px;height:50px; background-color:#666; float:left; margin-left:250px;}
  .arrow_btn>.right_arrow{width:50px;height:50px; background-color:#666; float:right;margin-right:250px;}*/

  #newLittleTittle{width:400px; height:50px; margin:0 auto; text-align: center; line-height: 50px; margin-top:50px;}
  #newLittleTittle>.line_design_left{width:40px; height:25px; border-bottom:5px solid #333; float:left; margin-top: -3px;}
  .new_arrivals_tittle{width:250px; height:50px; float:left;}
  #newLittleTittle>.line_design_right{width:40px; height:25px; border-bottom:5px solid #333; float:left; margin-top: -3px;}

  #newList{width:960px; height:auto;}
  #newarrowBtn{width:100%; height:0; background-color:#fff; position:absolute; top:50%; margin-top:-25px; }
  #newarrowBtn>.newleft_arrow{width:50px;height:50px; background-color:#666; float:left; }
  #newarrowBtn>.newright_arrow{width:50px;height:50px; background-color:#666; float:right;}

  #newList{width:100%; height:auto; position:relative;}

  #arrowBtn{width:100%; height:0; background-color:#fff; position:absolute; top:50%; margin-top:-30px; }
  #arrowBtn>.left_arrow{width:50px;height:50px; background-color:#666; float:left;}
  #arrowBtn>.right_arrow{width:50px;height:50px; background-color:#666; float:right;}


  #newListFront{width:870px;height:auto; margin-left:75px; }
  #newListFront>dl{width:180px; height: auto; float:left; margin:50px 30px 50px 0;}
  #newListFront>dl>dt{width:180px; height:180px; background-color:#add; float: left; border-radius: 50%;}
  #newListFront>dl>dd{width:180px; height:80px; background-color:#fff; float:left; margin-top:20px;}

  #newListBack{width:870px;height:auto; margin:0 auto;}
  #newListBack>dl{width:180px; height:180px; background-color:#add; margin-right:50px;float:left; margin-top:50px; display:none;}
  #newListBack>dl>dt{width:180px; height:180px; background-color:#add; display:none; border-radius: 50%;}
  #newListBack>dl>dd{width:180px; height:80px; background-color:#fff; float:left; margin-top:20px; display:none;}
  #newListBack>dl>>dd>div{width:180px; height:80px; background-color:#fff; margin-top:200px; display: none;}
  

  /* #footBox */
  #footBox{width:100%; height:auto; background-color:#666;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #footBox>.foot_content{width:100%; height:auto;}
  #footBox>.foot_content>.foot_logo{width:150px; height:70px; background-color:#ffa; float:left; margin-right:50px;}
  #footBox>.foot_content>.foot_info{width:80%; height:auto; float:left; margin-top:20px;}