/* selecContry.css */
#headBox{width:100%; height:auto; margin:0 auto; background-color:#faa;}
.headsize_box{width:960px; height:auto; margin:0 auto;}
h1{width:150px; height:70px; background-color:#ffa; margin:0 auto; text-align: center; line-height: 70px;}
.selection_box{width:250px; height:50px; font-size:20pt; margin:0 auto; margin-top:20px;}


#contryBox{width:100%; height:auto; margin:0 auto; background-color:#add;}

#contriesBox{width:960px;height:auto; margin:0 auto;}
#contriesBox:after{content:" "; display: block;clear: both;}
#contriesBox>li{width:100%; height: auto; float: left; margin-left: 0.5rem; background-color: #aad}
#contriesBox>li>dl{width: 100%; height: 100%; position: relative; z-index:500;}
#contriesBox>li>dl>dt{width: 150px; height: 150px;  text-align: center; font-size: 12pt; line-height: 50px; background-color:#666;}
#contriesBox>li>dl>dd{float:left; width:900px; height: auto;}
#contriesBox>li>dl>dd>ul{width:100%; height:auto; background-color: #fff; /* display:none; */}
#contriesBox>li>dl>dd>ul>li{width:120px; height:50px; text-align: center; float:left;}


/* #footBox */
  #footBox{width:100%; height:auto; background-color:#666;margin:0 auto; padding:0.5rem; box-sizing:border-box;}
  #footBox>.foot_content{width:100%; height:auto;}
  #footBox>.foot_content>.foot_logo{width:150px; height:70px; background-color:#ffa; float:left; margin-right:50px;}
  #footBox>.foot_content>.foot_info{width:80%; height:auto; float:left; margin-top:20px;}